	<footer>
		<div class="container">
			<div class="row">
				<div class="col-xs-4">
					<div class="text-left">
						&copy; Copyright Flight::Booker
					</div>
				</div>
				<div class="col-xs-4">
				</div>
				<div class="col-xs-4">
					<div>
						<a href="https://github.com/Isashi">
							<%= image_tag("icon.png", size: "40x40", alt: "GitHub") %>
						</a>
					</div>
				</div>
			</div>
		</div>		
	</footer>