<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="FlightBooker" src="/assets/air-logo.png">
      </a>
    </div>
  </div>
</nav>